@import "_extends.scss";
@import "_mixins.scss";

.booking-container {
  .confirmation__content {
    margin-bottom: 6rem;
    .head {
      padding: 1.8rem var(--row-padding);
      h2 {
        font-size: var(--fz-40);
        margin-bottom: 0.8rem;
      }
      p {
        font-size: var(--fz-28);
        color: var(--color-gray);
        line-height: 1.4;
        margin-bottom: 1.2rem;
      }
      .number {
        border: var(--border-2) solid #ebebeb;
        border-radius: var(--border-radius-10);
        padding: 1rem;
        display: flex;
        justify-content: center;
        span {
          font-size: var(--fz-28);
          font-weight: var(--fw-bold);
          &:first-child {
            position: relative;
            padding: 0 0.8rem 0 1.5rem;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: -0.05rem;
              width: 1rem;
              height: 1rem;
              background: url(../../images/icon_confirm.png) no-repeat;
              background-size: 1rem;
            }
          }
          &:last-child {
            color: var(--color-blue-2);
          }
        }
      }
    }
    .order-detail {
      padding: var(--col-padding) var(--row-padding);
      h3 {
        font-size: var(--fz-36);
        margin-bottom: 1.6rem;
      }
      .trip-id {
        span {
          &:first-child {
            font-size: var(--fz-24);
            color: var(--color-gray);
            margin-right: 0.6rem;
          }
        }
        .id {
          font-size: var(--fz-28);
        }
      }
      p {
        font-size: var(--fz-30);
        font-weight: var(--fw-medium);
        line-height: 1.2;
        margin: 0.8rem 0 1.5rem;
      }
      ul {
        li {
          display: grid;
          grid-template-columns: 40% 60%;
          gap: 0.4rem;
          padding-bottom: 0.6rem;
          &:last-child {
            padding-bottom: 0;
          }
          span {
            font-size: var(--fz-24);
            color: var(--color-gray);
          }
          strong {
            font-size: var(--fz-28);
            font-weight: var(--fw-medium);
          }
        }
      }
    }
    .travellers-details {
      padding: 0 var(--row-padding) var(--row-padding);
      h3 {
        font-size: var(--fz-28);
        font-weight: var(--fw-bold);
        margin-bottom: 1rem;
      }
      .items {
        .item {
          padding: 1.4rem var(--row-padding) 2.2rem;
          border: var(--border-2) solid #dedede;
          border-radius: var(--border-radius-10);
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0;
          }
          h4 {
            font-size: var(--fz-28);
            font-weight: var(--fw-bold);
            color: var(--color-gray);
            margin-bottom: 1.4rem;
          }
          .wrap {
            .row {
              display: grid;
              grid-template-columns: 40% 60%;
              gap: 0.5rem;
              line-height: 1.3;
              padding-bottom: 1.8rem;
              &:last-child {
                padding-bottom: 0;
              }
              div {
                padding-left: 1.8rem;
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  z-index: 10;
                  top: 0.1rem;
                  left: 0;
                  width: 1.125rem;
                  height: 1.125rem;
                  background: url(../../images/icon_traveller.png) no-repeat;
                  background-size: var(--w-36);
                }
                strong {
                  font-size: var(--fz-28);
                }
                span {
                  font-size: var(--fz-28);
                  color: var(--color-gray);
                }
              }
              ul {
                li {
                  font-size: var(--fz-28);
                  padding-bottom: 0.4rem;
                  &:last-child {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    .price-summary {
      font-size: var(--fz-28);
      padding: var(--row-padding);
      h3 {
        font-size: var(--fz-28);
        margin-bottom: 1rem;
      }
      .wrap {
        padding: 0.5rem var(--row-padding);
        border: var(--border-gray);
        border-radius: var(--border-radius-10);
        background-color: var(--color-white);
        ul {
          position: relative;
          padding: 1.5rem 0;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: var(--border-1);
            background-color: var(--color-gray-line);
          }
          &:last-child:after {
            content: none;
          }
          li {
            padding-bottom: 0.8rem;
            &:last-child {
              padding-bottom: 0;
            }
            & > * {
              font-size: var(--fz-28);
            }
            span {
              span {
                &:first-child {
                  font-size: var(--fz-24);
                }
              }
            }
          }
          .total {
            font-weight: var(--fw-medium);
            span {
              color: var(--color-black);
            }
          }
        }
        .person {
          li {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            & > span {
              &:first-child {
                position: relative;
                padding-left: 1.5rem;
                color: var(--color-gray);
                &::before {
                  content: "";
                  position: absolute;
                  z-index: 10;
                  top: -0.12rem;
                  left: 0;
                  width: 1.125rem;
                  height: 10rem;
                  background: url(../../images/icon_person.png) no-repeat;
                  background-size: var(--w-36);
                }
              }
              &:nth-child(2) {
                span {
                  color: var(--color-gray);
                  &:last-child {
                    font-size: var(--fz-28);
                  }
                }
                justify-self: end;
              }
              &:last-child {
                justify-self: end;
              }
            }
          }
        }
        .total-price {
          li {
            display: flex;
            justify-content: space-between;
            &:last-child {
              .total {
                font-weight: var(--fw-bold);
                span {
                  &:last-child {
                    font-size: var(--fz-36);
                  }
                }
              }
            }
          }
        }
      }
    }
    .done__btn {
      @extend %doneBtn;
    }
  }
}
