@import "_extends.scss";
@import "_mixins.scss";

#footer {
  .footer {
    padding: 0.6rem var(--row-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f5;
    .global {
      width: 100%;
      @include globalSelect();
    }
    .copyright {
      height: 100%;
      text-align: center;
      padding: 0.6rem 0 6rem;
      white-space: nowrap;
      span,
      p {
        color: var(--color-gray);
      }
      .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        span {
          font-size: 0.813rem;
          &:nth-child(2) {
            padding: 0 0.4rem;
            text-transform: uppercase;
            font-weight: var(--fw-bold);
            color: var(--color-black);
          }
        }
        .more,
        .close {
          img {
            width: 1rem;
          }
        }
        .close {
          transform: rotate(180deg);
        }
      }
      .info {
        display: none;
        font-size: var(--fz-24);
        line-height: 1.2;
      }
    }
  }
}

.top-btn {
  @extend %topBtn;
}
