@import "_extends.scss";
@import "_mixins.scss";

.sight-seeing {
  background: var(--color-white);
  & > ul {
    max-width: 23.438rem;
    margin: 0 auto;
    padding: var(--row-padding) 0;
    & > li {
      position: relative;
      padding: var(--row-padding) 0;
    }
  }
}
.sight-seeing__head {
  display: flex;
  padding: 0 var(--row-padding);
  .sight-seeing__head--icon {
    margin-right: 0.625rem;
    & > img {
      width: 4.25rem;
    }
  }
  .sight-seeing__head--data {
    width: 100%;
    overflow: hidden;
    h2 {
      font-size: 1.188rem;
      font-weight: var(--fw-regular);
      line-height: 1.2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      position: relative;
      font-size: 0.813rem;
      color: var(--color-gray);
      padding-left: 1rem;
      margin: 0.4rem 0 0.1rem;
      &::before {
        content: "";
        position: absolute;
        top: -0.05rem;
        left: 0;
        width: 0.8rem;
        height: 1.1rem;
        background: url(../../images/icon_location.png) no-repeat;
        background-size: var(--w-22);
      }
    }
    & > div {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
    }
    .sight-seeing__head--today {
      font-size: 0.875rem;
      font-weight: var(--fw-medium);
      color: var(--color-black);
      white-space: nowrap;
      margin-right: 0.4rem;
    }
    .sight-seeing__head--weather {
      display: flex;
      font-weight: var(--fw-light);
      color: var(--color-gray);
      * {
        font-size: 0.813rem;
        position: relative;
        padding: 0 0.2rem 0 1.1rem;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: -0.1rem;
          width: 1rem;
          height: 1rem;
          background-size: 1rem;
          background-position: center;
        }
      }
      .night {
        &::before {
          background: url(../../images/icon_night.png) no-repeat;
          background-size: var(--w-28);
          background-position: center;
        }
      }
      .day {
        &::before {
          background: url(../../images/icon_day.png) no-repeat;
          background-size: var(--w-28);
          background-position: center;
        }
      }
    }
    .sight-seeing__head--wish {
      padding-right: 0.6rem;
      img {
        width: 1.625rem;
      }
    }
  }
}
.sight-seeing__thumbnail {
  margin: 0.7rem 0 0.9rem;
  padding: 0 var(--row-padding);
  a {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 11.375rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.625rem;
      object-fit: cover;
      object-position: center;
    }
    span {
      position: absolute;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      letter-spacing: 0.03rem;
    }
    .event__tag {
      justify-self: flex-start;
      top: 0.1rem;
      left: 0;
      width: 6.063rem;
      height: 3.031rem;
      padding-left: 0.5rem;
      font-size: var(--fz-26);
      font-weight: var(--fw-bold);
      color: var(--color-white);
      background: url(../../images/Tag_Ribbon.png) no-repeat;
      background-size: 6.063rem;
    }
    .sold-out__tag {
      justify-self: flex-end;
      top: 9.8rem;
      right: 0;
      color: var(--color-pink);
      padding: 0.45rem 0.4rem 0.4rem 0.7rem;
      font-size: var(--fz-24);
      font-weight: var(--fw-bold);
      border-top-left-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
    }
  }
}
.sight-seeing__foot {
  display: flex;
  padding: 0 var(--row-padding);
  .sight-seeing__foot-left {
    display: flex;
    flex-direction: column;
    .sight-seeing__foot--point {
      margin-bottom: 0.5rem;
      @extend %point;
      .info__btn {
        @extend %infoBtn;
      }
      .active {
        @include infoActive();
      }
      .info__tab {
        @include infoTab();
      }
    }
    .sight-seeing__foot--tag {
      display: flex;
      align-items: center;
      & > {
        ul {
          display: flex;
          li {
            height: 100%;
            margin-right: 0.4rem;
            padding: 0.2rem 0.7rem 0.25rem 0.4rem;
            font-size: 0.75rem;
            font-weight: var(--fw-regular);
            white-space: nowrap;
            color: var(--color-gray);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: url(../../images/bg_tap_big.png) no-repeat;
            background-size: cover;
            background-position: right center;
          }
        }
        span {
          // a {
          //   display: flex;
          //   align-items: center;
          // }
          img {
            width: 1.125rem;
          }
        }
      }
    }
  }
  .sight-seeing__foot-right {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 0.4rem;
    strong {
      font-size: 1.5rem;
      font-weight: var(--fw-bold);
      color: var(--color-pink);
      margin-bottom: 0.35rem;
    }
    .price__sold-out {
      color: #b9b9b9;
    }
    span {
      font-size: 0.875rem;
      font-weight: var(--fw-regular);
      color: var(--color-gray);
    }
    .other_currency {
      @include otherCurrency(1.8rem, -0.1rem);
    }
    .login_price {
      @include loginPrice();
      // transform: translateY(-0.2rem);
    }
  }
}

@keyframes viewTripsPopupOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.view-trips__popup {
  @extend %viewTripsPopup;
}
