@import "_extends.scss";
@import "_mixins.scss";

.aside {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 86vw;
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  box-shadow: 20rem 0 0 20rem rgba(0, 0, 0, 0.5);
  background-color: var(--color-white);
  & > * {
    box-sizing: border-box;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../images/btn_close.png) no-repeat;
    background-size: var(--w-48);
  }
  .search-form {
    padding: 0 var(--row-padding);
    position: relative;
    display: flex;
    width: 100%;
    margin: 4rem 0 1.8rem;
    input {
      width: 100%;
      padding: 0.5rem 1rem;
      border: 0.125rem solid #404a58;
      border-radius: 1.5rem;
      &::placeholder {
        color: #c4c4c4;
      }
    }
    a {
      position: absolute;
      right: 1.8rem;
      top: 0.25rem;
      img {
        width: var(--w-56);
      }
    }
  }
  .user-info {
    padding: 0 var(--row-padding);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1.2rem;
    .profile {
      @extend %profile;
    }

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      .name {
        display: flex;
        align-items: center;
        margin-bottom: 0.4rem;
        a {
          display: flex;
          align-items: center;
          margin-left: 0.6rem;
          strong {
            padding-right: 0.4rem;
          }
          img {
            width: var(--w-42);
          }
        }
      }
      .id {
        font-size: var(--fz-24);
        color: var(--color-gray);
      }
      .login,
      .logout,
      .enrollment {
        display: flex;
        justify-content: flex-end;
        text-decoration: underline;
        margin-top: 0.6rem;
        a {
          text-transform: uppercase;
          font-size: var(--fz-24);
          color: var(--color-gray);
        }
      }
      .enrollment {
        a {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: -1.2rem;
            top: -0.1rem;
            width: 0.938rem;
            height: 0.938rem;
            background: url(../../images/icon_menu_signup.png) no-repeat;
            background-size: var(--w-30);
          }
        }
      }
      .login {
        margin-top: 0;
      }
      .logout {
        a {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: -1.2rem;
            top: -0.1rem;
            width: 0.938rem;
            height: 0.938rem;
            background: url(../../images/btn_logout.png) no-repeat;
            background-size: var(--w-30);
          }
        }
      }
    }
  }
  .menu {
    border-top: var(--border-2) solid #404a58;
    border-bottom: var(--border-2) solid #404a58;
    & > li {
      position: relative;
      a,
      p {
        position: relative;
        display: flex;
        padding: 1rem 2rem;
      }
      & > a,
      & > p {
        font-weight: var(--fw-bold);
        color: var(--color-gray-main);
        border-bottom: var(--border-2) solid #ebebeb;
        &:before {
          content: "";
          position: absolute;
          left: 1rem;
          top: 1.3rem;
          width: 0.15rem;
          height: 0.15rem;
          border-radius: 50%;
          border: 0.18rem solid #b9b9b9;
        }
      }
      .active {
        color: var(--color-blue-2);
        &:before {
          border-color: var(--color-blue-2);
        }
      }
      .sub-menu {
        display: none;
        background-color: #f8f8fa;
        li {
          &:last-child a:after {
            content: none;
          }
          a {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              width: 90%;
              height: var(--border-2);
              background-color: #ebebeb;
            }
          }
        }
      }
      .more {
        position: absolute;
        top: 0;
        right: 1rem;
        @extend %blindMoreBtn;
      }
    }
  }
  .global {
    width: 100%;
    @include globalSelect(var(--color-black), #f1f1f5);
  }
}
