@import "_extends.scss";
@import "_mixins.scss";

.mypage-container {
  .my-info-edit {
    padding: var(--col-padding) 0;
    .head {
      padding: 0 var(--row-padding);
      h2 {
        font-size: var(--fz-40);
        margin-bottom: 1.5rem;
      }
      & > div {
        display: grid;
        grid-template-columns: 35% 65%;
        align-items: center;
        margin-bottom: 1.2rem;
        .profile {
          @extend %profile;
          // background: none;
        }
        div {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .id {
            font-size: var(--fz-24);
            color: var(--color-gray);
            span {
              font-size: var(--fz-28);
              padding-left: 0.2rem;
            }
          }
          input {
            font-size: var(--fz-30);
            font-weight: var(--fw-bold);
            @extend %formBorder;
            &::placeholder {
              text-align: right;
              font-size: var(--fz-24);
              font-weight: var(--fw-regular);
            }
          }
        }
      }
      .info-list {
        li {
          @extend %myInfoList;
          padding-bottom: 0.2rem;
          span {
            &:last-child {
              font-size: var(--fz-28);
            }
          }
        }
      }
    }
    .form-wrap {
      margin: 1.8rem 0;
      padding: 0 var(--row-padding);
      .title {
        display: flex;
        align-items: center;
        margin-bottom: 0.6rem;
        img {
          width: var(--w-36);
          padding-right: 0.5rem;
        }
        h4 {
          font-size: var(--fz-28);
          font-weight: var(--fw-regular);
          color: var(--color-gray-main);
        }
      }
      & > p {
        font-size: var(--fz-24);
        color: var(--color-pink);
        margin-bottom: 0.8rem;
        line-height: 1.45;
      }
      .form {
        & > div {
          margin-bottom: 1.2rem;
          display: flex;
          h4 {
            font-size: var(--fz-28);
            font-weight: var(--fw-regular);
            color: var(--color-gray-main);
            margin-bottom: 0.4rem;
          }
          input,
          select {
            @extend %formBorder;
          }
          input {
            width: 100%;
            box-sizing: border-box;
            font-size: var(--fz-30);
            font-weight: var(--fw-bold);
            &::placeholder {
              text-align: right;
              font-size: var(--fz-24);
              font-weight: var(--fw-regular);
            }
          }
          select {
            font-size: var(--fz-28);
          }
        }
        .f-name,
        .l-name {
          display: grid;
          grid-template-columns: 35% 65%;
          // gap: 0.6rem;
          margin-bottom: 0.8rem;
          span {
            white-space: nowrap;
            font-size: var(--fz-24);
            color: var(--color-gray);
          }
          strong {
            font-size: var(--fz-30);
          }
        }
        .tel {
          select {
            width: 95%;
            padding-right: 2rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
            background: url(../../images/btn_down.png) no-repeat 94%;
            background-size: var(--w-36);
            background-color: #f1f1f5;
          }
          input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
        .gender {
          @extend %gender;
        }
        .address {
          display: flex;
          flex-direction: column;
          input {
            &:last-child {
              margin-top: 1.2rem;
            }
          }
        }
        .country,
        .country-m,
        .language,
        .currency {
          select {
            width: 100%;
            background: url(../../images/btn_down.png) no-repeat 96%;
            background-size: var(--w-36);
          }
        }
        .country-m,
        .language,
        .currency {
          flex-direction: column;
        }
      }
    }
    .address-form {
      .title {
        img {
          width: var(--w-37);
        }
      }
    }
    .button {
      display: flex;
      justify-content: center;
      .cancel__btn {
        @include blueBtn(
          8.625rem,
          0.8rem,
          url(../../images/icon_cancel.png) no-repeat 15% 50%
        );
        margin: 0.6rem 0.6rem 0.6rem 0;
        button {
          color: var(--color-blue);
          background-color: var(--color-white);
          border: var(--border-2) solid var(--color-blue);
        }
      }
      .save__btn {
        @include blueBtn(
          8.625rem,
          0.8rem,
          url(../../images/icon_done.png) no-repeat 20% 50%
        );
        margin: 0.6rem 0 0.6rem 0.6rem;
      }
    }
  }
}
