@import "_extends.scss";
@import "_mixins.scss";

.mypage-container {
  @extend %container;
  .user-info {
    position: relative;
    padding: 0 var(--row-padding);
    margin-bottom: 1rem;
    .wrap {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1.5rem;
      align-items: center;
      margin-bottom: 1.2rem;
      .profile {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.25em;
        height: 4.25em;
        border-radius: 50%;
        background: url(../../images/profile.png) no-repeat;
        background-position: center;
        object-fit: cover;
        img {
          width: 4.25em;
          height: 4.25em;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
        &:after {
          content: "";
          position: absolute;
          right: -0.3rem;
          bottom: -0.1rem;
          width: 1.5rem;
          height: 1.5rem;
          background: url(../../images/btn_camera.png);
        }
      }
      & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        .name {
          display: flex;
          margin-bottom: 0.4rem;
          a {
            display: flex;
            width: 1.25em;
            height: 1.25em;
            margin-left: 0.6rem;
          }
        }
        .id {
          font-size: var(--fz-24);
          color: var(--color-gray);
        }
        .level {
          margin-top: 0.4rem;
          a {
            font-size: var(--fz-28);
            font-weight: var(--fw-bold);
            color: var(--color-blue-2);
          }
        }
        .edit,
        .logout {
          position: absolute;
          right: var(--row-padding);
          display: flex;
          justify-content: flex-end;
          text-decoration: underline;
          a {
            position: relative;
            text-transform: uppercase;
            font-size: var(--fz-24);
            color: var(--color-gray);
            &:before {
              content: "";
              position: absolute;
              left: -1.2rem;
              top: -0.1rem;
              width: 0.938rem;
              height: 0.938rem;
            }
          }
        }
        .edit {
          top: 0.6rem;
          a {
            &::before {
              background: url(../../images/icon_edit.png) no-repeat;
            }
          }
        }
        .logout {
          bottom: 0;
          a {
            &:before {
              background: url(../../images/btn_logout.png) no-repeat;
            }
          }
        }
      }
    }
    .point__list {
      width: 100%;
      height: 100%;
      padding-bottom: 1.5rem;
      ul {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: var(--border-2) solid var(--color-gray-line);
        border-radius: var(--border-radius-10);
        li {
          border-right: var(--border-2) solid var(--color-gray-line);
          &:last-child {
            border-right: 0;
          }
          a {
            padding: 0.8rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            strong {
              font-size: var(--fz-36);
              padding: 0.3rem 0 0.2rem;
              span {
                color: var(--color-black);
                text-transform: uppercase;
                font-size: var(--fz-24);
                padding-right: 0.2rem;
              }
            }
            & > span {
              font-size: var(--fz-22);
              color: var(--color-gray);
              white-space: nowrap;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .share-link {
    position: relative;
    padding: var(--col-padding) var(--row-padding);
    p {
      font-size: var(--fz-28);
      color: var(--color-gray);
      line-height: 1.4;
      margin-bottom: 1.2rem;
    }
    .referral-btn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.8rem;
      height: 2.5rem;
      button {
        display: flex;
        align-items: center;
        padding: 0 0.8rem;
        font-size: var(--fz-28);
        color: var(--color-blue);
        border: var(--border-2) solid var(--color-blue);
        border-radius: var(--border-radius-10);
        background: url(../../images/icon_refercode.png) no-repeat 93% 50%;
        &:last-child {
          background: url(../../images/icon_referlink.png) no-repeat 93% 50%;
        }
      }
    }
    img {
      position: absolute;
      right: var(--row-padding);
      top: 3.8rem;
    }
  }
  .menu-list {
    margin-bottom: 4rem;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: var(--border-2);
      border: var(--border-2) solid #ebebeb;
      background-color: #ebebeb;
      li {
        background-color: var(--color-white);
        a {
          height: 3.75rem;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          line-height: 1.2;
          font-size: var(--fz-30);
          color: var(--color-gray-main);
          img {
            padding-right: 1rem;
          }
        }
      }
    }
  }
}
