.booking-container .booking .list li .info .wrap .price .weather {
  position: relative;
  font-weight: var(--fw-regular);
  white-space: nowrap;
}

.booking-container .booking .list li .info .wrap .price .weather > * {
  font-size: var(--fz-28);
  color: var(--color-gray);
}

.booking-container .booking .list li .info .wrap .price .weather > *::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.1rem;
  width: 1.3rem;
  height: 1.5rem;
}

.booking-container .booking .list li .info .wrap .price .weather .night {
  padding-left: 0.75rem;
}

.booking-container .booking .list li .info .wrap .price .weather .night::before {
  background: url(../../images/icon_night.png) no-repeat;
  background-size: var(--w-28);
}

.booking-container .booking .list li .info .wrap .price .weather .day {
  padding-left: 0.8rem;
}

.booking-container .booking .list li .info .wrap .price .weather .day::before {
  left: 1.4rem;
  background: url(../../images/icon_day.png) no-repeat;
  background-size: var(--w-28);
}

.booking-container .booking h2 {
  font-family: var(--ff-noto);
  font-size: var(--fz-36);
  font-weight: var(--fw-bold);
  letter-spacing: -0.05rem;
  padding-bottom: 1.1rem;
}

.booking-container .booking {
  padding: var(--col-padding) var(--row-padding);
}

.booking-container .booking h2 {
  padding-bottom: 0.8rem;
}

.booking-container .booking .list li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 0;
}

.booking-container .booking .list li .thumbnail {
  margin-right: 0.6rem;
}

.booking-container .booking .list li .thumbnail a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking-container .booking .list li .thumbnail a img {
  width: 6.25rem;
  height: 5.125rem;
  border-radius: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.booking-container .booking .list li .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking-container .booking .list li .info h3 {
  font-weight: var(--fw-regular);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: var(--fw-medium);
  line-height: 1.2;
}

.booking-container .booking .list li .info .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.booking-container .booking .list li .info .wrap .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking-container .booking .list li .info .wrap .price .date {
  font-size: var(--fz-24);
  letter-spacing: -0.01rem;
  margin-top: 0.2rem;
}

.booking-container .booking .list li .info .wrap .price .weather {
  margin-bottom: 0.2rem;
}

.booking-container .booking .list li .info .wrap .price .weather > * {
  font-size: var(--fz-24);
}

.booking-container .booking .list li .info .wrap .price .weather > *::before {
  top: 0.05rem;
}

.booking-container .booking .list li .info .wrap .price .weather .night {
  padding-left: 0.9rem;
}

.booking-container .booking .list li .info .wrap .price .weather .day {
  padding-left: 0.9rem;
}

.booking-container .booking .list li .info .wrap .price .weather .day::before {
  left: 1.5rem;
}

.booking-container .booking .list li .info .wrap .price span {
  color: var(--color-gray);
}

.booking-container .booking .list li .info .wrap .price .now_currency {
  font-size: var(--fz-28);
}

.booking-container .booking .list li .info .wrap .price strong {
  font-size: var(--fz-40);
  font-weight: var(--fw-medium);
  color: var(--color-pink);
}

.booking-container .booking .list li .info .wrap .price strong span {
  font-size: var(--fz-28);
  color: var(--color-pink);
  margin-right: 0.3rem;
}

.booking-container .booking .list li .info .wrap .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking-container .booking .list li .info .wrap .book span:first-child {
  position: relative;
  font-size: var(--fz-28);
  font-weight: var(--fw-medium);
  padding-left: 1.1rem;
  margin-bottom: 0.6rem;
}

.booking-container .booking .list li .info .wrap .book span:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.1rem;
  width: 1rem;
  height: 1rem;
  background: url(../../images/icon_clock.png) no-repeat;
  background-size: var(--w-31);
}

.booking-container .booking .list li .info .wrap .book span:last-child {
  width: 4.5rem;
  height: 1.8rem;
  border: var(--border-2) solid var(--color-blue);
  border-radius: 2rem;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0.2rem 0;
}

.booking-container .booking .list li .info .wrap .book span:last-child a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--fz-28);
  font-weight: var(--fw-bold);
  color: var(--color-blue);
}
