.login-container .reset-password__content h2 {
  font-size: var(--fz-40);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.login-container .reset-password__content .form input {
  padding: 0.65rem 0.8rem;
  border: var(--border-2) solid #b9b9b9;
  border-radius: var(--border-radius-10);
}

.login-container .reset-password__content .form input::-webkit-input-placeholder {
  font-size: var(--fz-28);
  color: #c4c4c4;
}

.login-container .reset-password__content .form input:-ms-input-placeholder {
  font-size: var(--fz-28);
  color: #c4c4c4;
}

.login-container .reset-password__content .form input::-ms-input-placeholder {
  font-size: var(--fz-28);
  color: #c4c4c4;
}

.login-container .reset-password__content .form input::placeholder {
  font-size: var(--fz-28);
  color: #c4c4c4;
}

.login-container .reset-password__content .form input[type="submit"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3.25rem;
  margin-top: 1.5rem;
  font-size: var(--fz-40);
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  color: var(--color-white);
  border: 0;
  border-radius: 3.25rem;
  background: var(--bg-gradient);
  -webkit-box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
}

.login-container .reset-password__content {
  padding: 3rem var(--row-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .reset-password__content .pw_input,
.login-container .reset-password__content .pw_complete {
  width: 100%;
}

.login-container .reset-password__content .form {
  width: 100%;
  margin: 1.5rem 0;
}

.login-container .reset-password__content .form p {
  font-size: var(--fz-24);
  line-height: 1.4;
  margin-bottom: 0.4rem;
}

.login-container .reset-password__content .form input[type="number"], .login-container .reset-password__content .form input[type="button"], .login-container .reset-password__content .form input[type="password"] {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-container .reset-password__content .form input[type="password"] {
  margin: 0.4rem 0;
}

.login-container .reset-password__content .form .reset-password__email {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  margin-bottom: 0.4rem;
}

.login-container .reset-password__content .form .reset-password__email input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.login-container .reset-password__content .form .reset-password__email input[type="button"] {
  font-size: var(--fz-28);
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--color-white);
  background-color: var(--color-blue);
}

.login-container .reset-password__content .form .code {
  margin-bottom: 1.3rem;
}

.login-container .reset-password__content .form .email-code__check {
  font-size: var(--fz-28);
  color: var(--color-gray);
  line-height: 1.2;
}

.login-container .reset-password__content .form .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  margin-bottom: 0;
}

.login-container .reset-password__content .form .message img {
  width: 2.844rem;
  margin-right: 0.6rem;
}

.login-container .reset-password__content .form .message span {
  line-height: 1.3;
  font-weight: var(--fw-medium);
}
