.top-btn {
  display: none;
  position: fixed;
  z-index: 666;
  right: 0.7em;
  bottom: 1.25em;
}

.top-btn img {
  width: 3.2rem;
}

#footer .footer {
  padding: 0.6rem var(--row-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f5;
}

#footer .footer .global {
  width: 100%;
  padding: var(--row-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer .global .wrap {
  width: 10rem;
  height: 2rem;
}

#footer .footer .global .wrap select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--fz-28);
  text-transform: uppercase;
  color: var(--color-gray);
  padding: 0.5rem 2.3rem;
  border-radius: 1.5rem;
}

#footer .footer .global .wrap:first-child {
  margin-right: 0.4rem;
}

#footer .footer .global .wrap:first-child select {
  background: url(../../images/icon_language.png) no-repeat 6%, url(../../images/btn_down.png) no-repeat 92%;
  background-color: var(--color-white);
  background-size: 1.5rem, 1.125rem;
}

#footer .footer .global .wrap:last-child {
  margin-left: 0.4rem;
}

#footer .footer .global .wrap:last-child select {
  background: url(../../images/icon_m_dollar.png) no-repeat 6%, url(../../images/btn_down.png) no-repeat 92%;
  background-color: var(--color-white);
  background-size: 1.5rem, 1.125rem;
}

#footer .footer .copyright {
  height: 100%;
  text-align: center;
  padding: 0.6rem 0 6rem;
  white-space: nowrap;
}

#footer .footer .copyright span,
#footer .footer .copyright p {
  color: var(--color-gray);
}

#footer .footer .copyright .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

#footer .footer .copyright .wrap span {
  font-size: 0.813rem;
}

#footer .footer .copyright .wrap span:nth-child(2) {
  padding: 0 0.4rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  color: var(--color-black);
}

#footer .footer .copyright .wrap .more img,
#footer .footer .copyright .wrap .close img {
  width: 1rem;
}

#footer .footer .copyright .wrap .close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#footer .footer .copyright .info {
  display: none;
  font-size: var(--fz-24);
  line-height: 1.2;
}
