.booking-container .total-price__nav-bar {
  position: fixed;
  z-index: 50;
  height: 3.438rem;
  bottom: 0;
  padding: 0 var(--row-padding);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-pink);
  -webkit-box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.booking-container .total-price__nav-bar div {
  text-align: center;
}

.booking-container .total-price__nav-bar div > * {
  color: var(--color-white);
}

.booking-container .total-price__nav-bar div > * > * {
  color: var(--color-white);
}

.booking-container .total-price__nav-bar div span {
  font-weight: var(--fw-medium);
}

.booking-container .total-price__nav-bar div span:first-child {
  font-size: var(--fz-28);
}

.booking-container .total-price__nav-bar div span:last-child {
  font-size: var(--fz-26);
}

.booking-container .total-price__nav-bar div strong {
  font-size: var(--fz-40);
  font-weight: var(--fw-medium);
  margin: 0 0.2rem;
}

.booking-container .payment__content {
  padding: 0.4rem var(--row-padding);
  margin-bottom: 2rem;
}

.booking-container .payment__content > h2 {
  font-size: var(--fz-40);
  margin-bottom: 1.5rem;
}

.booking-container .payment__content p {
  position: relative;
  color: var(--color-gray);
  font-size: var(--fz-28);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.booking-container .payment__content p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  background: url(../../images/icon_pay.png) no-repeat;
  background-size: var(--w-30);
}

.booking-container .payment__content .row {
  margin-bottom: 1.4rem;
}

.booking-container .payment__content .row ul,
.booking-container .payment__content .row div {
  border: var(--border-2) solid #dedede;
  border-radius: var(--border-radius-10);
}

.booking-container .payment__content .row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.938rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.booking-container .payment__content .row ul li {
  margin: 0 0.2rem;
}

.booking-container .payment__content .row ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking-container .payment__content .row ul li img {
  width: var(--w-130);
}

.booking-container .payment__content .row .pay-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 1.938rem;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #f1f1f5;
}

.booking-container .payment__content .row .pay-btn a,
.booking-container .payment__content .row .pay-btn strong {
  font-size: var(--fz-28);
  color: var(--color-blue);
  padding-left: 0.2rem;
}

.booking-container .payment__content .row .pay-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 1rem;
}

.booking-container .payment__content .row .pay-btn a:before {
  content: "";
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  width: 1.063rem;
  height: 1.063rem;
  background: url(../../images/btn_arrow_2.png) no-repeat;
  background-size: var(--w-34);
}

.booking-container .payment__content .row .pay-btn a:first-child {
  border-right: var(--border-2) solid #dedede;
}

.booking-container .payment__content .row .pay-btn a strong {
  text-transform: uppercase;
}

.booking-container .payment__content .row:last-child ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
  height: 100%;
  border: 0;
}

.booking-container .payment__content .row:last-child ul li {
  margin: 0;
}

.booking-container .payment__content .row:last-child ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  border: var(--border-2) solid #dedede;
  border-radius: var(--border-radius-10);
}

.booking-container .payment__content .row:last-child ul li a img {
  padding: 0.3rem 0;
  width: 6.438rem;
}

.booking-container .payment__content .row:last-child ul li a span,
.booking-container .payment__content .row:last-child ul li a strong {
  color: var(--color-blue);
  font-size: var(--fz-22);
  text-transform: uppercase;
}

.booking-container .payment__content .row:last-child ul li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1.625rem;
  border-top: var(--border-2) solid #dedede;
  background-color: #f1f1f5;
}

.booking-container .payment__content .row:last-child ul li a strong {
  padding-right: 0.2rem;
}
