.product-container .product-title .head div .weather, .product-container .related-trips .scroll li .head div .weather {
  white-space: nowrap;
}

.product-container .product-title .head div .weather > *, .product-container .related-trips .scroll li .head div .weather > * {
  position: relative;
  font-size: var(--fz-28);
  font-weight: var(--fw-regular);
  color: var(--color-gray);
  padding-left: 1rem;
}

.product-container .product-title .head div .weather > *::before, .product-container .related-trips .scroll li .head div .weather > *::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.06rem;
  width: 1.3rem;
  height: 1.5rem;
}

.product-container .product-title .head div .weather .day::before, .product-container .related-trips .scroll li .head div .weather .day::before {
  background: url(../../images/icon_day.png) no-repeat;
  background-size: var(--w-28);
}

.product-container .product-title .head div .weather .night::before, .product-container .related-trips .scroll li .head div .weather .night::before {
  background: url(../../images/icon_night.png) no-repeat;
  background-size: var(--w-28);
}

.product-container .product-title .foot .point-wrap .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container .product-title .foot .point-wrap .point > span:first-child {
  font-size: 0;
  width: 1.063rem;
  height: 1.063rem;
  background: url(../../images/icon_polychip.png) no-repeat;
  background-size: var(--w-34);
}

.product-container .product-title .foot .point-wrap .point > span:nth-child(2) {
  white-space: nowrap;
  font-size: var(--fz-28);
  color: var(--color-gray);
  margin: 0 0.4rem;
}

.product-container .product-title .foot .point-wrap .point > span:nth-child(2) strong {
  font-size: var(--fz-28);
  font-weight: var(--fw-bold);
  color: var(--color-purple);
  margin-left: 0.2rem;
}

.product-container .product-title .foot .price, .product-container .hotel-room-types .tab .tab-contents > div .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-container .product-title .foot .price strong, .product-container .hotel-room-types .tab .tab-contents > div .price strong {
  font-size: 1.75rem;
  font-weight: var(--fw-bold);
  color: var(--color-pink);
}

.product-container .product-title .foot .price strong span, .product-container .hotel-room-types .tab .tab-contents > div .price strong span {
  font-size: var(--fz-36);
  color: var(--color-pink);
  padding-right: 0.4rem;
}

.product-container .product-title .foot .price div, .product-container .hotel-room-types .tab .tab-contents > div .price div {
  margin-top: 0.2rem;
  position: relative;
  padding-right: 1.125rem;
  white-space: nowrap;
}

.product-container .product-title .foot .price div span, .product-container .hotel-room-types .tab .tab-contents > div .price div span {
  color: var(--color-gray);
}

.product-container .product-title .foot .price div .now_currency, .product-container .hotel-room-types .tab .tab-contents > div .price div .now_currency {
  font-weight: var(--fw-regular);
}

.product-container .product-title .foot .price div .now_currency:first-child, .product-container .hotel-room-types .tab .tab-contents > div .price div .now_currency:first-child {
  font-size: var(--fz-28);
}

.product-container .product-title .foot .price div .per-person__btn, .product-container .hotel-room-types .tab .tab-contents > div .price div .per-person__btn {
  position: relative;
  font-size: var(--fz-24);
}

.product-container .product-title .foot .price div .per-person__btn:after, .product-container .hotel-room-types .tab .tab-contents > div .price div .per-person__btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.1rem;
  width: 1.125rem;
  height: 1.125rem;
  background: url(../../images/btn_person.png);
  background-size: var(--w-36);
}

.product-container .product-title .foot .price div .other_currency, .product-container .hotel-room-types .tab .tab-contents > div .price div .other_currency {
  display: none;
  position: absolute;
  top: 0;
  left: -0.2rem;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}

.product-container .product-title .foot .price div .other_currency ul, .product-container .hotel-room-types .tab .tab-contents > div .price div .other_currency ul {
  padding: 0.8rem 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-container .product-title .foot .price div .other_currency ul li, .product-container .hotel-room-types .tab .tab-contents > div .price div .other_currency ul li {
  font-size: 0.875rem;
}

.product-container .product-title .foot .price div .other_currency ul li:nth-child(2), .product-container .hotel-room-types .tab .tab-contents > div .price div .other_currency ul li:nth-child(2) {
  margin: 0.4rem 0;
}

.product-container .icon-included__scroll, .product-container .itinerary .info dl dd .scroll, .product-container .booking-policies .tab .scroll, .product-container .alternative-dates .scroll, .product-container .related-trips .scroll {
  width: 100%;
  padding-top: 1.2rem;
  overflow: hidden;
}

.product-container .icon-included__scroll ul, .product-container .itinerary .info dl dd .scroll ul, .product-container .booking-policies .tab .scroll ul, .product-container .alternative-dates .scroll ul, .product-container .related-trips .scroll ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}

.product-container .icon-included__scroll ul::-webkit-scrollbar, .product-container .itinerary .info dl dd .scroll ul::-webkit-scrollbar, .product-container .booking-policies .tab .scroll ul::-webkit-scrollbar, .product-container .alternative-dates .scroll ul::-webkit-scrollbar, .product-container .related-trips .scroll ul::-webkit-scrollbar {
  display: none;
}

.product-container .product-title .head p, .product-container .related-trips .scroll li .head p {
  position: relative;
  padding-left: 1rem;
  font-size: var(--fz-28);
  font-weight: var(--fw-regular);
  color: var(--color-gray);
}

.product-container .product-title .head p::before, .product-container .related-trips .scroll li .head p::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: 0;
  width: 0.9rem;
  height: 1.2rem;
  background: url(../../images/icon_location.png) no-repeat;
  background-size: var(--w-22);
}

.product-container .row-line {
  width: 100%;
  height: 0.625rem;
  background-color: var(--color-gray-light);
}

.product-container .inclusion h3, .product-container .about-the-trip h3, .product-container .closest-airport h3, .product-container .about-accommodation h3, .product-container .hotel-room-types h3, .product-container .itinerary h3, .product-container .facts-to-know h3, .product-container .booking-policies .head h3, .product-container .alternative-dates h3, .product-container .related-trips h3 {
  font-family: var(--ff-noto);
  font-size: var(--fz-36);
  font-weight: var(--fw-bold);
  letter-spacing: -0.05rem;
  padding-bottom: 1.1rem;
}

.product-container .about-the-trip div, .product-container .about-accommodation div, .product-container .facts-to-know div {
  font-weight: var(--fw-regular);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-container .wish-on__popup {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}

.product-container .wish-on__popup p {
  position: absolute;
  top: calc(50% - 0.4rem);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-white);
  font-family: var(--ff-noto);
  font-size: var(--fz-30);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.product-container .wish-on__popup img {
  width: 12.125rem;
  height: 12.125rem;
}

.product-container .share__popup {
  display: none;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: sharePopupOpen 0.3s ease-in-out;
          animation: sharePopupOpen 0.3s ease-in-out;
}

.product-container .share__popup .wrap {
  position: relative;
  width: 22.188rem;
  height: 13.625rem;
  border-radius: 0.625rem;
  border: 0.063rem solid #dedede;
  background-color: var(--color-white);
  -webkit-box-shadow: 0 0.125rem 0.313rem #00000026;
          box-shadow: 0 0.125rem 0.313rem #00000026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--row-padding);
  margin: 0 0.625rem;
}

.product-container .share__popup .wrap .sns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-container .share__popup .wrap .sns li a img {
  width: 3.313rem;
}

.product-container .share__popup .wrap .url-copy {
  margin-top: 1.3rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.product-container .share__popup .wrap .url-copy input {
  width: 100%;
  padding: 0.65rem 0.8rem;
  border: var(--border-2) solid #b9b9b9;
  border-radius: var(--border-radius-10);
}

.product-container .share__popup .wrap .url-copy input::-webkit-input-placeholder {
  font-size: var(--fz-28);
  color: #c4c4c4;
}

.product-container .share__popup .wrap .url-copy input:-ms-input-placeholder {
  font-size: var(--fz-28);
  color: #c4c4c4;
}

.product-container .share__popup .wrap .url-copy input::-ms-input-placeholder {
  font-size: var(--fz-28);
  color: #c4c4c4;
}

.product-container .share__popup .wrap .url-copy input::placeholder {
  font-size: var(--fz-28);
  color: #c4c4c4;
}

.product-container .share__popup .wrap .url-copy input::-webkit-input-placeholder {
  color: var(--color-black);
  text-transform: uppercase;
}

.product-container .share__popup .wrap .url-copy input:-ms-input-placeholder {
  color: var(--color-black);
  text-transform: uppercase;
}

.product-container .share__popup .wrap .url-copy input::-ms-input-placeholder {
  color: var(--color-black);
  text-transform: uppercase;
}

.product-container .share__popup .wrap .url-copy input::placeholder {
  color: var(--color-black);
  text-transform: uppercase;
}

.product-container .share__popup .wrap .url-copy input[type="url"] {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.product-container .share__popup .wrap .url-copy input[type="button"] {
  font-size: var(--fz-28);
  color: var(--color-white);
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #292929;
}

.product-container .share__popup .wrap .close-btn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
}

.product-container .share__popup .wrap .close-btn img {
  width: var(--w-48);
}

.per-person__tab {
  display: none;
  position: relative;
  width: 100%;
  font-size: 0.813rem;
  line-height: 1.45;
  color: var(--color-gray);
  text-align: center;
  padding: 0.6rem;
  background-color: #ebebeb;
  margin-top: 0.8rem;
}

.per-person__tab::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 1.5rem;
  width: 0.5rem;
  height: 0.563rem;
  background: url(../../images/tab_triangle.png);
  background-size: var(--w-16);
}

.product-container .product-title .foot .point-wrap .point .info__btn {
  height: var(--w-34);
}

.product-container .product-title .foot .point-wrap .point .info__btn img {
  width: var(--w-34);
}

.product-container .close, .product-container .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 0.8rem;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.product-container .close img, .product-container .more img {
  width: 1.125rem;
  height: 1.125rem;
}

.product-container .close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product-container .sold-out__btn, .product-container .book-now__btn {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 1.5rem;
  width: 65%;
  height: 3.25rem;
  border-radius: 3.25rem;
  -webkit-box-shadow: 0 0.188em 0.625em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.188em 0.625em rgba(0, 0, 0, 0.4);
  background: var(--bg-gradient);
}

.product-container .sold-out__btn ul, .product-container .book-now__btn ul {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 3fr;
      grid-template-columns: 1fr 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.product-container .sold-out__btn ul li, .product-container .book-now__btn ul li {
  font-size: 1.25rem;
  font-weight: var(--fw-light);
  color: var(--color-white);
}

.product-container .sold-out__btn ul li img, .product-container .book-now__btn ul li img {
  width: var(--w-56);
}

.product-container .sold-out__btn {
  background: #b1b1b1;
}

.product-container .inclusion ul, .product-container .hotel-room-types .tab .tab-contents > div > ul, .product-container .itinerary .info dl dd > ul, .product-container .facts-to-know div > ul {
  padding-left: 1.2rem;
}

.product-container .inclusion ul > li, .product-container .hotel-room-types .tab .tab-contents > div > ul > li, .product-container .itinerary .info dl dd > ul > li, .product-container .facts-to-know div > ul > li {
  list-style: initial;
  line-height: 1.4;
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  font-weight: var(--fw-regular);
  margin-bottom: 0.6rem;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product-container .product-main-img {
  z-index: 999;
}

.product-container .product-main-img .img {
  position: relative;
  height: 17.5rem;
}

.product-container .product-main-img .img > a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-container .product-main-img .img .event__tag,
.product-container .product-main-img .img .sold-out__tag,
.product-container .product-main-img .img .to-be-confirmed__tag {
  position: absolute;
  left: 0;
  z-index: 999;
  font-size: var(--fz-26);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.product-container .product-main-img .img .event__tag {
  top: 0.1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 6.063rem;
  height: 3.031rem;
  padding-left: 0.5rem;
  color: var(--color-white);
  background: url(../../images/Tag_Ribbon.png) no-repeat;
  background-size: 6.063rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.product-container .product-main-img .img .sold-out__tag,
.product-container .product-main-img .img .to-be-confirmed__tag {
  top: 16.6rem;
  height: 1.688rem;
  padding-left: 0.3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.product-container .product-main-img .img .sold-out__tag {
  width: 6rem;
  color: var(--color-pink);
}

.product-container .product-main-img .img .to-be-confirmed__tag {
  display: none;
  width: 9.25rem;
  color: var(--color-blue-2);
}

.product-container .product-main-img .img .share-btn,
.product-container .product-main-img .img .wish-btn {
  position: absolute;
  right: 0;
  z-index: 999;
  bottom: -3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-container .product-main-img .img .share-btn img,
.product-container .product-main-img .img .wish-btn img {
  width: var(--w-160);
}

.product-container .product-main-img .img .share-btn {
  right: 3.6rem;
}

.product-container .contents-wrapper {
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
}

.product-container .product-title {
  padding-top: var(--col-padding);
  margin-bottom: 0.8rem;
}

.product-container .product-title .head {
  padding: 0 var(--row-padding);
}

.product-container .product-title .head h2 {
  font-family: var(--ff-noto);
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  margin: 0.4rem 0 0.6rem;
  line-height: 1.2;
}

.product-container .product-title .head div .date {
  font-size: 1rem;
  font-weight: var(--fw-medium);
  margin-right: 0.6rem;
}

.product-container .product-title .head div .weather > *::before {
  top: 0.03rem;
}

.product-container .product-title .head .available {
  margin-top: 0.5rem;
  color: var(--color-gray);
  font-size: var(--fz-26);
}

.product-container .product-title .head .available span {
  color: var(--color-blue-2);
  font-size: var(--fz-26);
}

.product-container .product-title .foot {
  position: relative;
  height: 3rem;
  padding: 0 var(--row-padding);
  margin-top: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-container .product-title .foot .point-wrap > img {
  width: 7.188rem;
}

.product-container .product-title .foot .point-wrap .point {
  margin-top: 0.2rem;
}

.product-container .product-title .foot .point-wrap .point .active {
  position: relative;
}

.product-container .product-title .foot .point-wrap .point .active::after {
  content: "";
  position: absolute;
  top: 1.1rem;
  left: 0.29rem;
  width: 0.5rem;
  height: 0.563rem;
  background: url(../../images/tab_triangle.png);
  background-size: var(--w-16);
}

.product-container .product-title .foot .point-wrap .point .info__tab {
  display: none;
  position: absolute;
  left: 0;
  top: 3.6rem;
  z-index: 10;
  padding: 0.6rem var(--row-padding) 1rem;
  color: var(--color-gray);
  font-size: var(--fz-28);
  line-height: 1.4;
  background-color: #ebebeb;
}

.product-container .product-title .foot .point-wrap .point .info__tab span {
  font-size: var(--fz-28);
  font-weight: var(--fw-bold);
  color: var(--color-blue-2);
}

.product-container .product-title .foot .login_price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-container .product-title .foot .login_price img {
  width: 8.313rem;
}

.product-container .product-title .foot .login_price .poly-label {
  width: 7.188rem;
}

.product-container .icon-included__scroll li {
  padding-right: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product-container .icon-included__scroll li:first-child {
  padding-left: var(--row-padding);
}

.product-container .icon-included__scroll li span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.375rem;
  height: 4.375rem;
  background-color: var(--color-gray-light);
  border-radius: 50%;
}

.product-container .icon-included__scroll li span:first-child img {
  width: 2.2rem;
}

.product-container .icon-included__scroll li span:last-child {
  font-family: var(--ff-noto);
  font-size: 0.688rem;
  font-weight: var(--fw-regular);
  line-height: 1.3;
  margin-top: 0.313rem;
}

.product-container .inclusion {
  padding: var(--col-padding) var(--row-padding) 0;
  margin-bottom: 2.188rem;
}

.product-container .inclusion p {
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  line-height: 1.7;
}

.product-container .inclusion .group-size {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.875rem;
}

.product-container .inclusion .group-size::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: 0;
  width: 1.125rem;
  height: 1.125rem;
  background: url(../../images/icon_group.png) no-repeat;
  background-size: var(--w-36);
}

.product-container .inclusion .group-size span {
  font-size: var(--fz-28);
  color: var(--color-gray);
}

.product-container .inclusion .group-size span:first-child {
  padding-left: 1.5rem;
}

.product-container .inclusion .group-size span:last-child {
  padding-left: 0.719rem;
  font-weight: var(--fw-bold);
}

.product-container .inclusion .group-size::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.188rem;
  width: 100%;
  height: 0.031rem;
  background-color: #dedede;
}

.product-container .about-the-trip {
  padding: var(--col-padding) var(--row-padding) 0;
}

.product-container .about-the-trip div {
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  line-height: 1.45;
}

.product-container .closest-airport {
  padding: var(--col-padding) var(--row-padding);
}

.product-container .closest-airport .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0.938rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.product-container .closest-airport .grid .col {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.product-container .closest-airport .grid .col:first-child div {
  position: relative;
}

.product-container .closest-airport .grid .col:first-child div:after {
  content: "";
  position: absolute;
  top: 1.1rem;
  right: -0.8rem;
  width: 0.625rem;
  height: 3.75rem;
  background: url(../../images/line.png);
  background-size: var(--w-20);
}

.product-container .closest-airport .grid .col:last-child > span img {
  width: 2rem;
}

.product-container .closest-airport .grid .col > span {
  width: 100%;
  height: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  font-weight: var(--fw-regular);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding-bottom: 0.26rem;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.product-container .closest-airport .grid .col > span img {
  padding-right: 0.4rem;
  width: 1.8rem;
}

.product-container .closest-airport .grid .col > span::after {
  content: "";
  position: absolute;
  top: 1.85rem;
  width: 100%;
  height: 0.25rem;
  background-color: #ebebeb;
}

.product-container .closest-airport .grid .col div {
  padding: 0.938rem 0.35rem;
}

.product-container .closest-airport .grid .col div h4 {
  font-family: var(--ff-noto);
  font-size: 0.938rem;
  font-weight: var(--fw-bold);
  color: var(--color-blue);
  margin-bottom: 0.5rem;
}

.product-container .closest-airport .grid .col div p {
  color: var(--color-gray);
  font-size: var(--fz-28);
  font-weight: var(--fw-regular);
}

.product-container .about-accommodation {
  padding: var(--col-padding) var(--row-padding) 0;
}

.product-container .about-accommodation h3 span {
  font-size: 1rem;
  font-weight: var(--fw-medium);
}

.product-container .about-accommodation div {
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  line-height: 1.45;
}

.product-container .about-accommodation__hide div {
  height: 2.6rem;
}

.product-container .hotel-room-types {
  padding-top: var(--col-padding);
}

.product-container .hotel-room-types h3 {
  padding: 0 var(--row-padding);
}

.product-container .hotel-room-types .tab {
  padding: 0 var(--row-padding);
}

.product-container .hotel-room-types .tab .tab-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: var(--border-radius-10);
  background-color: var(--color-gray-light);
  padding: 0.15rem;
}

.product-container .hotel-room-types .tab .tab-nav li {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: var(--ff-noto);
  font-size: var(--ff-28);
  font-weight: var(--fw-medium);
  border-radius: var(--border-radius-10);
}

.product-container .hotel-room-types .tab .tab-nav li a {
  padding: 0.4rem;
  font-size: var(--fz-28);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container .hotel-room-types .tab .tab-nav .active {
  font-weight: var(--fw-bold);
  background-color: var(--color-white);
  border-radius: var(--border-radius-10);
}

.product-container .hotel-room-types .tab .tab-nav .active a {
  color: var(--color-pink);
}

.product-container .hotel-room-types .tab .tab-contents {
  position: relative;
}

.product-container .hotel-room-types .tab .tab-contents .active {
  display: block;
}

.product-container .hotel-room-types .tab .tab-contents > div {
  display: none;
}

.product-container .hotel-room-types .tab .tab-contents > div img {
  margin: 0.813rem 0;
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: var(--border-radius-20);
}

.product-container .hotel-room-types .tab .tab-contents > div h4 {
  font-family: var(--ff-noto);
  font-weight: var(--fw-bold);
}

.product-container .hotel-room-types .tab .tab-contents > div p {
  margin: 0.5rem 0 1rem;
  font-size: var(--fz-28);
  line-height: 1.4;
  color: var(--color-gray);
}

.product-container .itinerary h3 {
  padding: var(--col-padding) var(--row-padding) 1rem;
}

.product-container .itinerary .info dl dt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.062rem solid var(--color-gray-line);
  padding: 0.5rem 0 0.5rem var(--row-padding);
}

.product-container .itinerary .info dl dt .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.188rem;
  height: 3.188rem;
  border-radius: 50%;
  background-color: #f1f1f5;
  margin-right: 0.4rem;
}

.product-container .itinerary .info dl dt .day > * {
  color: var(--color-purple);
  text-align: center;
}

.product-container .itinerary .info dl dt .day span {
  text-transform: uppercase;
  font-size: 0.688rem;
  letter-spacing: 0.05rem;
}

.product-container .itinerary .info dl dt .day strong {
  font-size: 1.313rem;
}

.product-container .itinerary .info dl dt h4 {
  font-family: var(--ff-noto);
  font-size: 0.938rem;
  font-weight: var(--fw-medium);
}

.product-container .itinerary .info dl dd {
  display: none;
  padding: var(--row-padding);
  background-color: #f6f6f6;
}

.product-container .itinerary .info dl dd > ul {
  margin-bottom: 1.2rem;
}

.product-container .itinerary .info dl dd > ul li strong,
.product-container .itinerary .info dl dd > ul li span {
  line-height: 1.45;
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
}

.product-container .itinerary .info dl dd > ul li ul li {
  padding-left: 0;
}

.product-container .itinerary .info dl dd > ul li ul li::before {
  content: none;
}

.product-container .itinerary .info dl dd > span > span {
  position: relative;
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  font-weight: var(--fw-regular);
  line-height: 2;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
}

.product-container .itinerary .info dl dd > span > span::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.313rem;
  height: 0.313rem;
  border-radius: 50%;
  background-color: var(--color-gray);
}

.product-container .itinerary .info dl dd strong {
  line-height: 1.4;
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
}

.product-container .itinerary .info dl dd .scroll {
  padding-top: 0;
}

.product-container .itinerary .info dl dd .scroll li {
  margin-right: var(--fz-28);
}

.product-container .itinerary .info dl dd .scroll li:last-child {
  padding-right: var(--fz-28);
}

.product-container .itinerary .info dl dd .scroll li img {
  width: 8.75rem;
  height: 6.563rem;
  border-radius: var(--border-radius-10);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-container .itinerary .info dl .active {
  display: block;
}

.product-container .facts-to-know {
  padding: var(--col-padding) var(--row-padding) 0;
}

.product-container .facts-to-know div {
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  line-height: 1.45;
}

.product-container .facts-to-know div ul li {
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  line-height: 1.45;
}

.product-container .facts-to-know div ul li strong,
.product-container .facts-to-know div ul li span {
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  line-height: 1.45;
}

.product-container .booking-policies {
  padding-bottom: var(--col-padding);
}

.product-container .booking-policies .head {
  padding: var(--col-padding) var(--row-padding) 0;
}

.product-container .booking-policies .head p,
.product-container .booking-policies .head span {
  font-family: var(--ff-noto);
  font-size: var(--fz-28);
  line-height: 1.4;
}

.product-container .booking-policies .head p span {
  color: var(--color-gray);
}

.product-container .booking-policies .tab .scroll {
  position: relative;
}

.product-container .booking-policies .tab .scroll > span {
  display: none;
  position: absolute;
  top: 0;
}

.product-container .booking-policies .tab .scroll > span img {
  width: var(--w-36);
}

.product-container .booking-policies .tab .scroll .direction-left {
  right: 0;
  padding-right: var(--row-padding);
  padding-right: 0.8rem;
}

.product-container .booking-policies .tab .scroll .direction-left img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.product-container .booking-policies .tab .scroll .direction-right {
  left: 0;
  padding-left: var(--row-padding);
  padding-left: 0.8rem;
}

.product-container .booking-policies .tab .scroll .direction-right img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.product-container .booking-policies .tab .scroll .tab-nav {
  height: 2.5rem;
}

.product-container .booking-policies .tab .scroll .tab-nav li {
  white-space: nowrap;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-container .booking-policies .tab .scroll .tab-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
  font-weight: var(--fw-medium);
  background-color: var(--color-gray-light);
}

.product-container .booking-policies .tab .scroll .tab-nav li a span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--fz-28);
  padding: 0 0.8rem;
}

.product-container .booking-policies .tab .scroll .tab-nav li .active span {
  font-weight: var(--fw-bold);
  color: var(--color-pink);
  border-radius: 2.25rem;
  background-color: var(--color-white);
}

.product-container .booking-policies .tab .scroll .tab-nav li:first-child {
  padding-left: var(--row-padding);
}

.product-container .booking-policies .tab .scroll .tab-nav li:first-child a {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.product-container .booking-policies .tab .scroll .tab-nav li:last-child {
  padding-right: var(--row-padding);
}

.product-container .booking-policies .tab .scroll .tab-nav li:last-child a {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.product-container .booking-policies .tab .tab-contents {
  position: relative;
  height: 7.5rem;
}

.product-container .booking-policies .tab .tab-contents .active {
  display: block;
}

.product-container .booking-policies .tab .tab-contents > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../../images/bg_Policy_box.png) no-repeat;
  background-size: 20.938rem;
  background-position: center;
  margin: var(--row-padding) 0;
}

.product-container .booking-policies .tab .tab-contents > div:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  width: 0.063rem;
  height: 60%;
  background-color: var(--color-gray-line);
}

.product-container .booking-policies .tab .tab-contents > div .wrap {
  padding: 0 var(--row-padding);
  height: 6.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product-container .booking-policies .tab .tab-contents > div .wrap .col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container .booking-policies .tab .tab-contents > div .wrap .col h4,
.product-container .booking-policies .tab .tab-contents > div .wrap .col strong {
  font-weight: var(--fw-bold);
}

.product-container .booking-policies .tab .tab-contents > div .wrap .col h4 {
  font-size: var(--fz-36);
}

.product-container .booking-policies .tab .tab-contents > div .wrap .col strong {
  font-size: var(--fz-48);
}

.product-container .booking-policies .tab .tab-contents > div .wrap .col p,
.product-container .booking-policies .tab .tab-contents > div .wrap .col span {
  font-size: var(--fz-24);
  line-height: 1.2;
}

.product-container .booking-policies .tab .tab-contents > div .wrap .col span {
  color: var(--color-gray);
}

.product-container .alternative-dates h3 {
  padding: var(--col-padding) var(--row-padding) 0.4rem;
}

.product-container .alternative-dates .scroll {
  padding-bottom: var(--col-padding);
}

.product-container .alternative-dates .scroll li {
  padding-right: 0.875rem;
}

.product-container .alternative-dates .scroll li:first-child {
  padding-left: var(--row-padding);
}

.product-container .alternative-dates .scroll li a {
  height: 4.688rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  border-radius: var(--border-radius-10);
  border: var(--border-2) solid #c4c4c4;
}

.product-container .alternative-dates .scroll li a span {
  font-family: var(--ff-noto);
  font-weight: var(--fw-medium);
  line-height: 1.3;
}

.product-container .alternative-dates .scroll li a span:first-child {
  font-size: var(--fz-28);
}

.product-container .alternative-dates .scroll li a span:last-child {
  font-size: var(--fz-36);
}

.product-container .alternative-dates .scroll li .active {
  border-color: #707070;
}

.product-container .alternative-dates .scroll li .active span {
  font-weight: var(--fw-bold);
  color: var(--color-pink);
}

.product-container .related-trips {
  padding-bottom: var(--col-padding);
}

.product-container .related-trips h3 {
  padding: var(--col-padding) var(--row-padding) 0.4rem;
}

.product-container .related-trips .scroll li {
  padding-right: 1.281rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-container .related-trips .scroll li:first-child {
  padding-left: var(--row-padding);
}

.product-container .related-trips .scroll li .head {
  width: 13.125rem;
}

.product-container .related-trips .scroll li .head > * {
  line-height: 1.2;
}

.product-container .related-trips .scroll li .head h2 {
  font-size: 1rem;
  font-weight: var(--fw-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.product-container .related-trips .scroll li .head div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-container .related-trips .scroll li .head div .date {
  font-size: var(--fz-24);
  font-weight: var(--fw-medium);
}

.product-container .related-trips .scroll li .head div .weather > *::before {
  top: 0.02rem;
}

.product-container .related-trips .scroll li .head div .weather span {
  font-size: var(--fz-24);
}

.product-container .related-trips .scroll li .thumbnail {
  position: relative;
  width: 13.125rem;
  margin: 0.8rem 0;
}

.product-container .related-trips .scroll li .thumbnail .img {
  height: 9.688rem;
}

.product-container .related-trips .scroll li .thumbnail .img a img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-10);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-container .related-trips .scroll li .thumbnail .wish {
  position: absolute;
  right: -1.2rem;
  bottom: -1.3rem;
}

.product-container .related-trips .scroll li .thumbnail .wish img {
  width: var(--w-94);
}

.product-container .related-trips .scroll li .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-container .related-trips .scroll li .price strong {
  font-size: var(--fz-48);
  font-weight: var(--fw-bold);
  color: var(--color-pink);
}

.product-container .related-trips .scroll li .price strong span {
  color: var(--color-pink);
  margin-right: 0.3rem;
}

.product-container .related-trips .scroll li .price > span {
  font-size: var(--fz-28);
  color: var(--color-gray);
}

@-webkit-keyframes wishPopupAnimation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wishPopupAnimation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes sharePopupOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sharePopupOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
